* {
    box-sizing: border-box;
}

body {
    background-color: #D6D6D6;
    /*background-image: url("House Blueprint.jpg");*/
    background-repeat: no-repeat; 
    font-family: Open Sans; 
	}

 h1, h2 {
 	text-align: center;
 	margin-top: auto;
 }